asgiref==3.8.1
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.2
filelock==3.16.1
pillow==11.1.0
platformdirs==4.3.6
psycopg==3.2.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.26.6
whitenoise
django-crispy-forms
django
